{% load i18n %}
<!DOCTYPE html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'expenseapp/css/pure-min.css' %}" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
  <link rel="stylesheet" href="{% static 'expenseapp/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'expenseapp/css/timepicker.css' %}" />
  <script src="{% static 'expenseapp/js/libs/modernizr.custom.min.js' %}"></script>
</head>
<body>
{% block header %}
  <header id="masthead">
    <nav class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="/" class="pure-menu-heading">{% trans "Finnish scouts' expense application system" %}</a>
  
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'expense_new' %}">{% trans "Create a new expense application" %}</a></li>
          <li><a href="{% url 'expense_own' %}">{% trans "My expenses" %}</a></li>
          <li><a href="{% url 'personinfo' %}">{% trans "User information" %}</a></li>
          {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
        {% else %}
          {% get_current_language as LANGUAGE_CODE %}
          <li><a href="{% url 'django_registration_register' %}">{% trans "Sign up" %}</a></li>
          <li><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></li>
          {% if LANGUAGE_CODE != 'fi-fi' %}
          <li><a href="/i18n/fi"><small>suomeksi</small></a></li>
          {% endif %}
          {% if LANGUAGE_CODE != 'sv-se' %}
          <li><a href="/i18n/sv"><small>på svenska</small></a></li>
          {% endif %}
          {% if LANGUAGE_CODE != 'en-en' %}
          <li><a href="/i18n/en"><small>in English</small></a></li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>
  </header>
{% endblock header %}

  <div id="main" class="">
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}
  </div>
  <p class="support"><a href="mailto:tuki@perfektio.fi?subject=Tukipyyntö%20Partion%20kululaskujärjestelmän%20käyttöön">{% trans "Issues with the service?" %}</a></p>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static 'expenseapp/js/libs/jquery-1.9.1.min.js' %}"><\/script>')</script>
  <script src="{% static 'expenseapp/js/libs/anytime.min.js' %}"></script>
  <script src="{% static 'expenseapp/js/libs/parsley.min.js' %}"></script>
  <script src="{% static 'expenseapp/js/main.js' %}"></script>

{% block footer %}
</body>
{% endblock footer %}