{% load i18n %}
<!DOCTYPE html>
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'assets/Tondu_Beta.ttf' %}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
  <link rel="stylesheet" href="{% static 'expenseapp/css/style.css' %}" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
  <link rel="stylesheet" href="{% static 'expenseapp/css/style.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'expenseapp/css/jquery.timepicker.min.css' %}" /> -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css"> -->
</head>
<body>
{% block header %}
  <header id="masthead">
    <nav role="navigation">
      <div id="menu-toggle">
        
        <input class="menu-input" type="checkbox" />
        
        <!-- Burger menu -->
        <span></span>
        <span></span>
        <span></span>
        
        <div id="menu">
          <div class="logo">
            <a href="/" style="text-decoration: none;">
             <img style="height: 70px;" alt="Partion logo" src="{% static 'assets/partio_logo_cmyk_valkoinen.png' %}" max-width="444" max-height="171">
             </a>
         </div>
          <ul class="menu-list">
            {% if user.is_authenticated %}
                <li ><a href="{% url 'expense_new' %}">{% trans "New expense application" %}</a></li>
                <li ><a href="{% url 'expense_own' %}">{% trans "My expenses" %}</a></li>
                <li ><a href="{% url 'personinfo' %}">{% trans "User information" %}</a></li>
                {% if user.is_staff %}
                <li ><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                {% endif %}
            {% endif %}
            <li class="dropdown">
              <a href="#" class="pure-menu-allow-hover">{% trans 'Languages' %}</a>
              <ul class="dropdown-content" style="list-style: none; padding-left: 0px;">
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE != 'fi-fi' %}
                  <li class="drop-item"><a href="/i18n/fi" class="drop-item-link">suomeksi</a></li>
                {% endif %}

                {% if LANGUAGE_CODE != 'sv-se' %}
                  <li class="drop-item"><a href="/i18n/sv" class="drop-item-link">på svenska</a></li>
                {% endif %}
                {% if LANGUAGE_CODE != 'en-en' %}
                  <li class="drop-item"><a href="/i18n/en" class="drop-item-link">in English</a></li>
                {% endif %}
              </ul>
            </li>
          
            {% if user.is_authenticated %}
              <li ><a href="{% url 'logout' %}" class="log-button">{% trans "Log out" %}</a></li>
            {% else %}
              <li ><a href="{% url 'django_registration_register' %}">{% trans "Sign up" %}</a></li>
              <li><a href="{% url 'auth_login' %}" class="log-button" >{% trans "Log in" %}</a></li>
            {% endif%}
            </ul>
          </div>
      </div>
    </nav>
  </header>
{% endblock header %}

  <div id="main">
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}
    <p class="support"><a href="mailto:tuki@perfektio.fi?subject=Tukipyyntö%20Partion%20kululaskujärjestelmän%20käyttöön">{% trans "Issues with the service?" %}</a></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <script>window.jQuery || document.write('<script src="{% static 'expenseapp/js/libs/jquery-3.4.1.slim.min.js' %}"><\/script>')</script> -->
    <!-- <script src="{% static 'expenseapp/js/libs/jquery.timepicker.min.js' %}"></script> -->
    <script src="{% static 'expenseapp/js/libs/parsley.min.js' %}"></script>
    <!-- <script src="i18n/sv.js"></script>
    <script src="i18n/fi.js"></script> -->
    <script src="{% static 'expenseapp/js/main.js' %}"></script>
  </div>
  

{% block footer %}
{% endblock footer %}
</body>
