{% load i18n %}
    <div class="expenseline pure-g blue-bottom">
        <div class="wrapper-container">
    
    {% for field in expenselineform.visible_fields %}
      {% if 'begin_at_date' == field.name %}
        <div style="margin: auto;">
      {% endif %}

        <div class="pure-control-group field-{{ field.name }}{% if field.field.required %} required{% endif %} {% if 'hidden-start' in field.field.widget.attrs.class %} visuallyhidden{% endif %} {% if field.errors %} error{% endif %}">
          {{ field.label_tag }}
          {% comment %} {% if field.help_text %}
            <i class="inline-help-text icon-question-sign"><span>{{ field.help_text }}</span></i>
          {% endif %} {% endcomment %}
          
          {{ field }}

          {% if field.help_text and field.name != 'description' %}
            <p class="helptext">{{ field.help_text }}</p>
          {% endif %}
          
          {{ field.errors }}
          
          {% if forloop.last %}
            {% for hidden in expenselineform.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          {% endif %}
        </div>
        
      {% if 'ended_at_time' == field.name %}
        </div>
      {% endif %}

    {% endfor %}
      <div class="wrapper-container" style="margin-top: 15px;">
        <div class="pure-control-group">
          <a href="#" class="delete-expenseline pure-button pure-button-xsmall primary-blue"><i class=" icon-trash"></i> {% trans "Delete" %}</a>
        </div>
      </div>
    </div>
  </div>
