{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "My expenses" %}</h1>
    <section class="pure-menu pure-menu-open">
      <ul>
        {% for expense in expenses %}

          <li class="pure-menu-item orgitem">
            <a href="{% url 'expense_view' expense_id=expense.id %}" class="expenses-grid" ><span class="desc-col">{{ expense.description }} </span>
            <span class="date-col"> {{ expense.created_at | date:"j.n.Y" }} </span> <span class="total-col">{{ expense.amount | floatformat:"2" }} €</span>  </a>
          </li>

        {% endfor %}
      </ul>
</section>
{% endblock %}
