{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with organisation_name=expense.organisation.name %}Expense for {{ organisation_name }}{% endblocktrans %}</h1>

<div class="pure-g">
  <div class="pure-u-1-1 dl-horizontal">
  {% for id, field in fields.items %}
    <p>{{ field.label}}
    {% if id == 'total' %}
    <span>{{ field.value | floatformat:"2" }} €</span>    
    {% elif id == 'date' %}
    <span>{{ field.value | date:"j.n.Y H.i" }}</span>    
    {% else %}
    <span>{{ field.value }}</span>
    {% endif %}
    </p>
    
    {# Split to second column #}
    {% if id == 'personno' %}
      </div>  <div class="pure-u-1-1 dl-horizontal">
    {% endif %}
  {% endfor %}
  </div>
</div>

<h2>{% trans 'Expenses'%}</h2>

<!-- <ul class="expenserow"> -->
  <table>
  {% for line in lines %}
  
    <tr>
      <th>{{ line.description.label }}</th>
      <th>{% trans "Date" %}</th>
      <th>{{ line.expensetype.label }}</th>
      <th>{{ line.sum.label }}</th>
      {% if line.receipt %}
        <th>{{ line.receipt.label }}</th>
      {% endif %}

      <tr>
        <td>{{ line.description.value }}</td>
        <td>{{ line.begin_at.value | date:"j.n.Y H.i" }} – {{ line.ended_at.value | date:"j.n.Y H.i" }}</td>
        <td>{{ line.expensetype.value }}</td>
        <td>{{ line.basis.value | floatformat:"-2" }} × {{ line.expensetype.value.multiplier | floatformat:"-2" }} = {{ line.sum.value | floatformat:"2" }} €</td>

        <td>{% if line.id %}
          <a href="{% url 'receipt_fetch' expenselineid=line.id %}">{{ line.receipt.filename }}</a>
          {% else %}
          {{ line.receipt.filename }}
          {% endif %}</td>
      </tr>
    </tr>

 
  <!-- <li class="form-block">
    <dl class="dl-horizontal">
      <dt>{{ line.description.label }}</dt>
      <dd>{{ line.description.value }}</dd>
      
      <dt>{% trans "Date" %}</dt>
      <dd>{{ line.begin_at.value | date:"j.n.Y H.i" }} – {{ line.ended_at.value | date:"j.n.Y H.i" }}</dd>
      
      <dt>{{ line.expensetype.label }}</dt>
      <dd>{{ line.expensetype.value }}</dd>
      
      <dt>{{ line.sum.label }}</dt>
      <dd>{{ line.basis.value | floatformat:"-2" }} × {{ line.expensetype.value.multiplier | floatformat:"-2" }} = {{ line.sum.value | floatformat:"2" }} €</dd>
      
      {% if line.receipt %}
      <dt>{{ line.receipt.label }}</dt>
      <dd>
        {% if line.id %}
        <a href="{% url 'receipt_fetch' expenselineid=line.id %}">{{ line.receipt.filename }}</a>
        {% else %}
        {{ line.receipt.filename }}
        {% endif %}
      </dd>
      {% endif %}
    </dl>
  </li> -->
  {% endfor %}
</table>
<!-- </ul> -->

{% block content_footer %}{% endblock %}

{% endblock %}
