{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1>{% blocktrans with organisation_name=expense.organisation.name %}Expense for {{ organisation_name }}{% endblocktrans %}</h1>

<div class="pure-g">
  <div class="pure-u-1 blue-bottom">
    <h2>{% trans 'Ilmoittajan tiedot'%}</h2>
    {% for id, field in fields.items %}
      <p class="subject">{{ field.label}}:</p>
        {% if id == 'total' %}
      <p class="value">{{ field.value | floatformat:"2" }} €</p>    
        {% elif id == 'date' %}
      <p class="value">{{ field.value | date:"j.n.Y H.i" }}</p>    
        {% else %}
      <p class="value">{{ field.value }}</p>
    {% endif %}
    
    {# Split to second column #}
    {% if id == 'personno' %}
      </div> 
        
      <div class="pure-u-1 blue-bottom">
        <h2 class="ykskaks">{% trans "Kululaskun tiedot" %}</h2>
    {% endif %}
  {% endfor %}
  </div>
</div>



<div class="pure-g">
  <div class="pure-u-1" style="padding: 30px;">
  <h2>{% trans 'Expenses'%}</h2>
  {% for line in lines %}
  
    <h3> {% trans "Expense "%} {{ forloop.counter }}</h3>
      <p class="subject">{{ line.description.label }}:</p>
      <p class="value"> {{ line.description.value }}</p>

      <p class="subject">{% trans "Date" %}:</p>
      <p class="value"> {{ line.begin_at.value | date:"j.n.Y H.i" }} – {{ line.ended_at.value | date:"j.n.Y H.i" }}</p>

      <p class="subject">{{ line.expensetype.label }}:</p>
      <p class="value">  {{ line.expensetype.value }}</p>

      <p class="subject">{{ line.sum.label }}:</p>
      <p class="value"> {{ line.basis.value | floatformat:"-2" }} × {{ line.expensetype.value.multiplier | floatformat:"-2" }} = {{ line.sum.value | floatformat:"2" }} €</p>

      {% if line.receipt %}
        <p class="subject">{{ line.receipt.label }}:</p>
        {% if line.id %}
          <a href="{% url 'receipt_fetch' expenselineid=line.id %}" style="font-style: italic;">{{ line.receipt.filename }}</a>
          {% else %}
            {{ line.receipt.filename }}
          {% endif %}
      {% endif %}
      <div style="border-bottom-color: #D2D2D2;
      border-bottom-style: solid;
      border-bottom-width: 1px;"></div>

      {% endfor %}
    </div>

      
 
  <!-- <li class="form-block">
    <dl class="dl-horizontal">
      <dt>{{ line.description.label }}</dt>
      <dd>{{ line.description.value }}</dd>
      
      <dt>{% trans "Date" %}</dt>
      <dd>{{ line.begin_at.value | date:"j.n.Y H.i" }} – {{ line.ended_at.value | date:"j.n.Y H.i" }}</dd>
      
      <dt>{{ line.expensetype.label }}</dt>
      <dd>{{ line.expensetype.value }}</dd>
      
      <dt>{{ line.sum.label }}</dt>
      <dd>{{ line.basis.value | floatformat:"-2" }} × {{ line.expensetype.value.multiplier | floatformat:"-2" }} = {{ line.sum.value | floatformat:"2" }} €</dd>
      
      {% if line.receipt %}
      <dt>{{ line.receipt.label }}</dt>
      <dd>
        {% if line.id %}
        <a href="{% url 'receipt_fetch' expenselineid=line.id %}">{{ line.receipt.filename }}</a>
        {% else %}
        {{ line.receipt.filename }}
        {% endif %}
      </dd>
      {% endif %}
    </dl>
  </li> -->
  
</div>
<!-- </ul> -->

{% block content_footer %}{% endblock %}

{% endblock %}
