kululasku.sqlite
testikanta.sqlite
.env*
*.sql
docker-compose-local.yml
docker-compose-prod.yml
texts.txt

__pycache__
.DS_Store
*.DS_Store
*.pyc
sendgrid.env
staticfiles/*
.vscode/*
storage/*
static/uploads/receipts/*
expenses/uploads/receipts
media/receipts/*
tmp/zips/*
maintenance_on.html
fennoa_credentials.json
