SENDGRID_API_KEY=qwertyuiop
SECRET_KEY=qwertyuiop
EMCE_SERVER_PORT=1234
EMCE_SERVER=esim.server.ex
EMCE_USERNAME=emce_kayttaja_esimerkki
EMCE_PASSWORD=taysin_turvallinen_salasana
CONTACT_NAME=Matti Meikäläinen
CONTACT_NUM=+123456789
DEBUG=True
#comma separated list, eg: localhost,other_domain OR single domain eg. localhost
ALLOWED_HOSTS_STRING=localhost

FENNOA_APIURL=https://app.fennoa.com/api
FENNOA_USERNAME=perfektio
FENNOA_TOKEN=test123
