@font-face {
  font-family: 'tondubeta';
  src: url('fonts/tondu_beta-webfont.woff2') format('woff2'),
       url('fonts/tondu_beta-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PT Sans";
  background: #fff;
  /* font-size: medium; */
}

input {
  font-size: medium;
}

ul {
  list-style: none;
}

.pure-g {
  font-family: "PT Sans";
  /* font-size: medium; */
}

.pure-g [class*=pure-u]{
  font-family: "PT Sans";
  /* font-size: medium; */
}

h1, h2, h3 {
  font-family: "tondubeta";
  color: #253764;
  text-transform: uppercase;
  font-weight: 100;
}

#menu-toggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}


#menu-toggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menu-toggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-toggle span:first-child
{
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

#menu-toggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu li
{
  padding: 5px 5px;
  font-size: 18px;
  color: #ffffff;
  margin: 0px 5px;
}

#menu-toggle input:checked ~ div
{
  transform: none;
}

.pure-form-aligned .pure-control-group {
  letter-spacing: normal;
  display: inline-block;
  margin: 10px;
  max-width: min-content;
  vertical-align: top;
}

.account-wrapper {
  max-width: 60%;
  margin: auto;
}

.pure-g {
  font-family: "PT Sans";
  letter-spacing: normal;
}

.pure-form-aligned .pure-control-group label {
  white-space: nowrap;
  text-align: left;
  display: inline;
}

.blue-bottom {
  padding: 30px;
  border-bottom: solid 2px #28AAE1;
}

.pure-form input[type=text], .pure-form input[type=password],  .pure-form input[type=email], .pure-form textarea, .field-expensetype select {
  display: block;
  width: 28vw;
  border: 1px solid #ccc;
}

.pure-form .pure-control-group .short-input {
  width: 12vw;
}


.primary-blue {
  background-color: #253764;
  color: #FFFFFF
}

.secondary-blue {
  background-color: #28AAE1;
  color: #FFFFFF
}

.secondary-green {
  background-color: #14A54B;
  color: #FFFFFF
}


.subject {
  color: #8A8A8A;
  margin: 12px 0 0 0;
}

.value {
  margin: 0;
}

.hiddened {
  visibility: hidden;
}

/* If the screen size is 1201px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1201px) {
  body {
    font-size: 18px;
  }

  .logo {
    top: 25px;
    left: 75px;
    position: absolute;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #253764;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .drop-item {
    border-bottom-color: #D2D2D2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background: #253764;
  }

  .drop-item-link {
    min-width: 150px;
  }

  .menu-list {
    top: 20px;
    right: -40px;
    text-align: center;
    list-style: none;
    position: absolute;
  }

  #menu {
    top: -50px;
    position: relative;
  }

  #menu div {
    list-style-type: none;
  }
  
  #menu li {
    float: left;
  }
  
  #menu-toggle {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 100vw;
    height: 84px;
  }

  #menu-toggle input {
    visibility: hidden;
  }

  #menu-toggle span {
    visibility: hidden;
  }

  #masthead {
    width: 100vw;
    left: 0;
    background: #253764;
    color: #fff;
    height: 84px;
    top: 0;
    position: absolute;
  }

  #masthead nav {
    height: inherit;
    margin: 0 auto;
    background: transparent;
    -webkit-font-smoothing: antialiased;
  }

  #masthead a {
    color: #fff;
  }  
}

.log-button {
  display: inline-block;
  height: 50px;
  width: 184px;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -11px;
  border: 1px solid #FFFFFF;
}

.wrapper-container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex-wrap: wrap;
}

/* If the screen size is 1000px wide or less, set the font-size of <div> to 16px */
@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }

  .pure-form input[type=text], .pure-form input[type=email], .pure-form input[type=password], .pure-form textarea, .pure-form select  {
    display: block;
    width: 70vw;
    border: 1px solid #ccc;
  }
  

  .logo {
    padding: 30px;
    text-align: center;
  }

  .wrapper-container {
    text-align: center;
  }

  .pure-control-group {
    text-align: left;
  }

  .pure-menu-allow-hover {
    visibility: hidden;
  }

  .pure-form .pure-control-group .short-input {
    width: 34vw;
  }

  .menu-list {
    text-align: center;
    list-style: none;
    padding: 50px;
  }

  #masthead {
    background: #fff;
    color: #fff;
  }

  #masthead nav {
    height: inherit;
    margin: 0 auto;
    background: transparent;
    -webkit-font-smoothing: antialiased;
  }

  #masthead a {
    color: #fff;
  }

  #menu
{
  left: 0;
  top: 0;
  position: fixed;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background: #253764;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


}
.language-menu {
  background: #253764;
}

.pure-button-primary {
  background-color: #253764;
}

ul li a {
  display: block;
  width: 100%;
  padding: 5px;
}

h2.pure-menu-heading {
  margin-bottom: 0;
}

a {
  color: #253764;
  text-decoration: none;
}

#main {
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 30px 30px;
  background: #fff;
}

.main-column {
  float: left;
  width: 68%;
}

.middle-headline {
  text-align: center;
}

.arrow {
  right: 0px;
  position: absolute;
}

.orgitem {
  padding: 15px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #D2D2D2;
}
a:hover {
  background-color: rgba(40,170,225,0.1);
}

/* .orgitem:hover {
  background-color: rgba(40,170,225,0.1);
} */

.sidebar {
  width: 30%;
  float: right;
}

.pure-form {
  margin-bottom: 2em;
}

.pure-form textarea {
  height: 100px;
}

.pure-form .helptext {
  color: #999;
  font-size: 90%;
}

.pure-form .pure-button-primary {
  color: white;
  border: 0;
  font-size: 100%;
  box-shadow: none;
}

/* .pure-form .pure-button-small {
  font-size: 85%;
}

.pure-form .pure-button-xsmall {
  font-size: 75%;
}
  .pure-form .pure-button-xsmall i {
    font-size: 115%;
  } */

.pure-form .required label:after {
  content: '*';
  color: #b00;
  margin-left: 2px;
}
.pure-form .error input,
.pure-form .error textarea,
.pure-form .error select {
  border: 1px solid #b00;
}

.errorlist {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 80%;
  color: #b00;
}
  .pure-form .field-ended_at .errorlist,
  .pure-form .field-receipt .errorlist {
    margin-left: 50px;
  }

.pure-form-aligned .pure-controls {
  border-top: 1px solid #ddd;
  margin: 2vh;
  padding: 2vh;
}
  .pure-form-aligned .pure-controls h3 {
    margin-top: 0;
  }

.pure-table-full {
  width: 100%;
}

input[type=file] {
  border: 0;
  box-shadow: none;
}

.form-block {
  padding: 15px 0 10px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
  .form-block:nth-child(odd) {
    background: #fbfbfb;
  }
  .form-block + .form-block {
    border-top: 0;
  }
  
.inline-help-text {
  color: #0078e7;
  position: relative;
}
  .inline-help-text:hover {
    cursor: help;
  }

  .inline-help-text:hover span {
    display: block;
  }

  .inline-help-text span {
    display: none;
    position: absolute;
    z-index: 10;
    top: -5px;
    left: 100%;
    margin-left: 5px;
    max-width: 350px;
    min-width: 200px;
    background: #E6E6E6;
    padding: 5px 10px;
    font-size: 80%;
    color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset, 2px 2px 6px rgba(0,0,0, 0.2);
  }
  .inline-help-text span:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 10px;
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-right: 3px solid #a6a6a6;
  }

.field-begin_at i,
.field-ended_at i {
  margin-left: -28px;
  color: #ccc;
  cursor: text;
}
  .pure-form .field-ended_at label {
    width: auto;
  }
  
.delete-expenseline {
  padding: 10px;
  white-space: nowrap;
}

#preview-button {
  padding: 10px;
  white-space: nowrap;
}

.pure-button, .secondary-blue {
  padding: 10px;
  white-space: nowrap;
}
  
/* #add-new-expenseline,
#add-new-expensetype {
  margin: 1em 0 1em 12em;
} */

.hidden {
  display: none;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

ul.messages {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.alert {
  color: #c09853;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info,
.alert-debug {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

dl {
  margin-bottom: 20px;
  font-size: 90%;
}

dt,
dd {
  line-height: 20px;
}

dt {
  color: #999;
}

dd {
  margin-left: 10px;
}

.dl-horizontal {
  *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  float: left;
}

.expenserow {
  list-style: none;
  padding: 0;
}

.expenserow dl {
  margin: 0;
}

/* .expenseline .inline-help-text {
  top: 2px;
  left: -12px;
}
.expenseline label + input,
.expenseline label + select {
  margin-left: 18px;
} */

.submit-button-wrapper {
  background-image: url("../img/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.submit-button-wrapper.loading {
  background-image: url("../img/loader.gif");
}

.submit-button-wrapper.loading>* {
  visibility: hidden;
}

.support {
  margin-top: 50px;
  text-align: center;
}
.support a {
  text-decoration: underline;
  color: #444;
  color: rgba(0,0,0,.8);
}