{% extends "django_registration/base.html" %}
{% load i18n %}

{% block content %}
<h1 style="text-align: center;">{% trans 'Log In'%} </h1>


<div style="text-align: center;">

</div>


<form style="text-align: center; margin-bottom: 20px;" action="{% url 'auth_login' %}" method="POST" class="pure-form pure-form-aligned" data-parsley-validate>
  <div class="pure-g">
    {% csrf_token %}
    <div class="account-wrapper">
      {% if form.errors %}
        <p class="error">{% blocktrans %}Login failed.{% endblocktrans %}</p>
      {% endif %}

      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {# Include the visible fields #}
        {% for field in form.visible_fields %}
          <div class="pure-control-group{% if field.field.required %} required{% endif %}" style="margin: sauto;">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
      
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>

  <div class="pure-controls" style="text-align: center;">
    <div>
      <span class="submit-button-wrapper">
        <input type='submit' value='{% trans "Log in" %}' class="pure-button pure-button-primary" style="width: 200px;margin: 20px;">
      </span>

      <div style="text-align: center;">
        <a href="{{ reset_url }}" style="color: rgba(0, 0, 0, 0.8);text-decoration: underline;">{% trans 'Forgot your password?'%}</a>.
      </div>
    </div>

  </div>
  <div>
    <div>
      <h1 style="text-align: center;">{% trans 'Uusi käyttäjä'%} </h1>
      <p>
        Jos et ole aiemmin käyttänyt Partion kululaskua, rekisteröi itsellesi käyttäjätunnus.
      </p>
      <p>
        <strong>Huom!</strong> Partio-ID ei toimi kululaskussa.
      </p>
      <a href="/accounts/register/" style="box-sizing: border-box; width: 200px; display:inline-block;" class="pure-button pure-button-primary" style="">{% trans "Sign up" %}</a>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
 </div>
</form>

{% endblock %}
