{% extends "django_registration/base.html" %}
{% load i18n %}

{% block content %}
<h1 style="text-align: center;">{% trans 'Log In'%} </h1>

<div style="text-align: center;">
  <p>Olemme resetoineet käyttäjien salasanat järjestelmäpäivityksen yhteydessä.</p>
  <p>Palautathan salasanasi käyttämällä <a href="/accounts/password/reset/">Unohditko salasanasi</a> ominaisuutta.</p>
</div>


<form style="text-align: center;" action="{% url 'auth_login' %}" method="POST" class="pure-form pure-form-aligned" data-parsley-validate>
  <div class="pure-g">
    {% csrf_token %}
    <div class="account-wrapper">
      {% if form.errors %}
        <p class="error">{% blocktrans %}Login failed.{% endblocktrans %}</p>
      {% endif %}

      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {# Include the visible fields #}
        {% for field in form.visible_fields %}
          <div class="pure-control-group{% if field.field.required %} required{% endif %}" style="margin: sauto;">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}

        
      <div style="padding: 30px;">
      </div>
      
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>

  <div class="pure-controls" style="text-align: center;">
    <div>
      <span class="submit-button-wrapper">
        <input type='submit' value='{% trans "Log in" %}' class="pure-button pure-button-primary" style="margin: 20px;">
      </span>
    </div>
    
    <a href="/accounts/register/" style="text-decoration: underline;"><strong>{% trans "Sign up" %}</a></strong>
    <input type="hidden" name="next" value="{{ next }}" />
 </div>
</form>


<div style="text-align: center;">
  <p >
    <small>{% url 'auth_password_reset' as reset_url %}
    {% trans 'Forgot your password?'%}</small>
  </p>

  <a href="{{ reset_url }}" style="text-decoration: underline;"><strong>{% trans 'Reset your password'%}</strong></a>.
</div>

{% endblock %}
