{% extends "django_registration/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Password Change' %}</h1>

<form action="{% url 'auth_password_change' %}" method="POST" class="pure-form pure-form-aligned" data-parsley-validate>
{% csrf_token %}
  {% if form.errors %}
    <p class="error">{% blocktrans %}Something failed.{% endblocktrans %}</p>
  {% endif %}

  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  
  {# Include the visible fields #}
  {% for field in form.visible_fields %}
    <div class="pure-control-group{% if field.field.required %} required{% endif %}">
      {{ field.label_tag }}
      {{ field }}
    </div>
  {% endfor %}

   <div class="pure-controls">
    <span class="submit-button-wrapper">
      <button type="submit" class="pure-button pure-button-primary">{% trans 'Save' %}</button>
    </span>
  </div>
</form>

{% endblock %}