{% extends "django_registration/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Reset Password' %}</h1>

{% if form %}
<form action="" method="POST" class="pure-form pure-form-aligned">
{% csrf_token %}
  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  
  {# Include the visible fields #}
  {% for field in form.visible_fields %}
    <div class="pure-control-group{% if field.field.required %} required{% endif %}">
      {{ field.label_tag }}
      {{ field }}
    </div>
  {% endfor %}

   <div class="pure-controls">
    <span class="submit-button-wrapper">
    	<button type="submit" class="pure-button pure-button-primary">{% trans 'Reset' %}</button>
    </span>
  </div>
</form>
{% else %}
<p>
  {% blocktrans %}
  The link you clicked or typed in wasn't recognized. Try again,
  making sure that the link isn't split over multiple lines.
  {% endblocktrans %}
</p>
{% endif %}
{% endblock %}

