{% extends "django_registration/base.html" %}
{% load i18n %}

{% block content %}
<h1 style="text-align: center;">{% trans 'Register' %}</h1>

<form action="{% url 'django_registration_register' %}" method="POST" class="pure-form pure-form-aligned">
  <div class="pure-g">
  {% csrf_token %}
    <div class="account-wrapper">
    {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      
      {# Include the visible fields #}
      {% for field in form.visible_fields %}
        <div class="pure-control-group{% if field.field.required %} required{% endif %}{% if field.errors %} error{% endif %}" style="margin: auto; vertical-align: top;">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
          {% if field.help_text != '' %}
            <p class="helptext">{{ field.help_text }}</p>
          {% endif %}
        </div>
      {% endfor %}
    
  
    </div>
  </div>
  {# Controls #}
  <div class="pure-controls" style="text-align: center;">
    <span class="submit-button-wrapper">
      <input type='submit' value='{% trans "Submit application" %}' class="pure-button pure-button-primary">
    </span>
 </div>
</form>
{% endblock %}
